{% extends 'base.html' %}


{% block title %}
<title>PICKA:비밀번호변경</title>
{% endblock title %}

{% block content %}
<nav class="navbar fixed-top navbar-expand-lg" style="margin-top:10px;">
  <div class="container-fluid">
    <a href="{% url 'movies:nowplaying' %}">
      <img src="/static/img/logo_picka.png" href="#page-top" style="width:200px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left:20px;">
        <li class="nav-item active" style="margin-left:20px;">
          <a class="nav-link text-white opacity-75" href={% url 'movies:nowplaying' %}>NOW PLAYING</a>
        </li>
        <li class="nav-item" style="margin-left:20px;">
          <a class="nav-link text-white opacity-75" href={% url 'movies:upcoming' %}>UPCOMING</a>
        </li>
        <li class="nav-item" style="margin-left:20px;">
          <a class="nav-link text-white opacity-75" href={% url 'movies:loading' %}>PALETTE</a>
        </li>
        <li class="nav-item" style="margin-left:20px;">
          <a class="nav-link text-white opacity-75" href={% url 'movies:persona' %}>PERSONA</a>
        </li>
        <li class="nav-item" style="margin-left:20px;">
          <a class="nav-link text-white opacity-75" href={% url 'community:index' %}><b>COMMUNITY</b></a>
        </li>

      </ul>
      <ul class="navbar-nav" style="margin-right:20px;">
        <li class="nav-item" style="margin-right:20px;">
          <button class="nav-link btn btn-light opacity-75" style="padding-top:6px; padding-bottom:6px; padding-right:10px; padding-left:10px;">
            <a class="text-decoration-none text-black fw-bold" href={% url 'accounts:mypage' user.username %}>MYPAGE</a>
          </button>
        </li>
        <li class="nav-item">
          <form action="{% url 'accounts:logout' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="로그아웃" class="btn btn-outline-light">
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="bg" style="background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/static/img/intro_image4.jpg'); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;">
  <div class="d-flex justify-content-center">
    <div class="card bg-white bg-opacity-75" style="width: 25%; margin-top: 10%">
      <div class="card-body d-flex-row opacity: 0;">
        <h4 class="card-title text-center fw-bold">비밀번호 변경</h4>
        <hr>
        
        <form action="{% url 'accounts:change_password' %}" method="POST">
          <div class="d-flex-row">
            {% csrf_token %}
            
             <div class="input-group mb-3">
              <input type="password" name="old_password" placeholder="이전 비밀번호" class="form-control">
            </div>
            <hr>
            <div class="input-group mb-2">
              <input type="password" name="new_password1" placeholder="새로운 비밀번호" class="form-control" >
            </div>
            <div class="input-group mb-2">
              <input type="password" name="new_password2" placeholder="새로운 비밀번호 확인" class="form-control" >
            </div> 
            <div class="fw-bold">
              <p>다른 개인 정보와 유사한 비밀번호는 사용할 수 없습니다.</p>
              <p>비밀번호는 최소 8자 이상이어야 합니다.</p>
              <p>통상적으로 자주 사용되는 비밀번호는 사용할 수 없습니다.</p>
              <p>숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</p>
            </div>
          </div>
          <hr>
          <div class="d-grid gap-2">
            <input type="submit" value="비밀번호 변경" class="btn btn-success">
          </div>
        </form>

        <br>

        <div class="d-flex justify-content-center">
          <a class="fw-bold text-decoration-none ms-3" href={% url 'accounts:mypage' user.username %}>MYPAGE로 돌아가기</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block style %}
<style>
  body, html {
    height: 100%;
    margin:0px;
  }
  
  .carousel,
  .carousel-item,
  .carousel-inner {
    height: 100%;
    width: 100%;
  }
</style>
{% endblock style %}