{% extends 'base.html' %}


{% block title %}
<title>PICKA:로그인</title>
{% endblock title %}

{% block content %}
<!-- Navigation-->
<nav class="navbar fixed-top navbar-expand-lg" style="margin-top:10px;">
  <div class="container-fluid">
    <a href="{% url 'accounts:intro' %}">
      <img src="/static/img/logo_picka.png" href="#page-top" style="width:200px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left:20px;">
      </ul>
      <ul class="navbar-nav" style="margin-right:20px;">
        <li class="nav-item">
          <a class="btn btn-outline-light" href={% url 'accounts:signup' %} role="button">회원가입</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="bg" style="background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/static/img/loginpage_image.jpg'); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;">
  <div class="d-flex justify-content-center">
    <div class="card;" style="width: 15%; margin-top: 15%">
      <div class="card-body d-flex-row opacity: 0;">
        <h4 class="card-title text-center fw-bold text-white">로그인</h4>
        <hr>
        
        <form action="{% url 'accounts:login' %}" method="POST">
          <div class="d-flex-row">
            {% csrf_token %}
            <div class="input-group mb-3">
              <input type="text" name="username" placeholder="Username..." class="form-control">
            </div>
            <div class="input-group mb-2">
              <input type="password" name="password" placeholder="Password..." class="form-control" >
            </div>
          </div>
          <hr>
          <div class="d-grid gap-2">
            <input type="submit" value="로그인" class="btn btn-success">
          </div>
        </form>
        <br>
        <div class="d-flex justify-content-center">
          <span class="text-white opacity-75">아직 아이디가 없으신가요?</span>
          <a class="text-white fw-bold text-decoration-none ms-3" href={% url 'accounts:signup' %}>회원가입</a>
        </div>
      </div>
    </div>
  </div>
</div>




<style>
  body, html {
  height: 100%;
  margin:0px;
  }
  
  
  
  </style>
{% endblock content %}
